p {
  margin-top: 50px;
  width: 100px;
  background-color: rgb(167, 167, 195);
}
p:first-child {
  margin-top: auto;
}
/* №1 */
.square {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: square;
  animation-duration: 5s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
}

@keyframes square {
  0% {
    background-color: red;
  }
  25% {
    background-color: orange;
  }
  50% {
    background-color: yellow;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: blue;
  }
}
/* №2 */
.box {
  margin-top: 40px;
  margin-left: 40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px dashed;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: circle;
  animation-duration: 4s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
}
@keyframes circle {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale();
  }
}
/* №3 */
.quadrate {
  width: 100px;
  height: 100px;
  background-color: black;
  animation-name: quadrate;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes quadrate {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(100vw);
  }
}
